<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
</head>
<body>
  <h2>Bem-vindo à Homepage</h2>
  <button onclick="window.location.href='/api/criarconsumo'">Inserir Consumo</button>
  <button onclick="window.location.href='/api/criarutilizador'">Inserir Utilizador</button>
  <button onclick="window.location.href='/api/listall'">Lista Utilizador</button>
  <button onclick="window.location.href='/api/listallconsumo'">Lista Consumo</button>
  <button onclick="window.location.href='/api/classificacao'">Classificação</button>
  <button onclick="window.location.href='/api/recompensas'">Lista Recompensas</button>
</body>
</html>